<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="nav">
        <a href="/"><i class="far fa-calendar-alt">Today</i></a>
        <a href="/work"><i class="far fa-clone">Work</i></a>
    </header>
</body>
</html>