body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
h1 {
  font-size: 5rem;
}
.creative {
  color: midnightblue;
}
.card {
  display: block;
  width: 45%;
}
.left{
  float: left;
}
.right {
  float: right;
}
.tile-image {
  height: 200px;
  margin-right: 20px;
  float: left;
}
footer {
  text-align: right;
  color: #1A2C5B;
}
@media (max-width: 680px) {
  .logo{
    height: 20px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    display: inline;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
  }
}